<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Face Court</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".likethumbImg").click(function(event) {
			var artifactId = $(this).attr('artfactId');
			var url = "/api/v1/votePos/" + artifactId;

			$.ajax({
				type : "GET",
				url : url,
				success : function(data) {
					console.log("SUCCESS likethumbImg click : ", data);
					var artId = data.id;
					var totalPosNum = data.totalPos;
					var totalNegNum = data.totalNeg;

					$("#PosNumLbl" + artId).text(totalPosNum);
					$("#NegNumLbl" + artId).text(totalNegNum);
				}
			});
		});

		$(".dislikethumbImg").click(function(event) {
			var artifactId = $(this).attr('artfactId');
			var url = "/api/v1/voteNeg/" + artifactId;

			$.ajax({
				type : "GET",
				url : url,
				success : function(data) {
					console.log("SUCCESS dislikethumbImg click : ", data);
					var artId = data.id;
					var totalPosNum = data.totalPos;
					var totalNegNum = data.totalNeg;

					$("#PosNumLbl" + artId).text(totalPosNum);
					$("#NegNumLbl" + artId).text(totalNegNum);
				}
			});
		});

	});
</script>

</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">

		<div class="panel panel-info" th:each="artifact : ${artifacts}">
			<!-- div class="panel-heading" th:text="${artifact.title}">Case ONE</div -->
			<div class="panel-heading clearfix">
				<h4 class="panel-title pull-left" style="padding-top: 7.5px;"
					th:text="${artifact.title}">Panel header</h4>
				<div class="btn-group pull-right">
					<a th:href="@{/edit/{id}(id=${artifact.id})}"
						class="btn btn-default btn-sm">Edit</a> <a th:href="@{/delete/{id}(id=${artifact.id})}"
						class="btn btn-default btn-sm" onclick="return confirm(' you want to delete?');">Delete</a>
				</div>
			</div>
			<div class="panel-body">
				<span th:text="${artifact.desc}">This is the case one.</span>
			</div>
			<div class="panel-footer text-center">
				<span><img class="likethumbImg" alt="likethumb"
					data-th-attr="artfactId=${artifact.id}"
					src="/images/32px-Facebook_like_thumb.png" />&nbsp;<label
					th:id="PosNumLbl + ${artifact.id}" th:text="${artifact.totalPos}" />
					&nbsp;&nbsp;</span> <span><img class="dislikethumbImg"
					data-th-attr="artfactId=${artifact.id}" alt="dislikethumb"
					src="/images/32px-Facebook_dislike_thumb.png" />&nbsp;<span><label
						th:id="NegNumLbl + ${artifact.id}" th:text="${artifact.totalNeg}" /></span></span>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer" />

</body>
</html>